#c_content { width: 100%; min-width: 1000px; }

#c_content .c_warp { width: 1000px; margin: 0 auto; }

#c_content .c_warp div { height: 35px; float: left; margin-top: 10px; }

#c_content .c_warp div:nth-child(1) { background: url(/img/c1.gif) no-repeat 0 0; width: 333px; }

#c_content .c_warp div:nth-child(2) { background: url(/img/c1.gif) no-repeat 0 -105px; width: 349px; }

#c_content .c_warp div:nth-child(3) { background: url(/img/c1.gif) no-repeat 0 -175px; width: 300px; }

#c_content .l_c { width: 980px; margin: 0 auto; }

#c_content .l_c h3 { padding: 10px 0 0 10px; font-size: 19px; margin-bottom: 10px; }

#c_content .l_c h3 b { background: url(/img/c2.gif) no-repeat 0 -254px; display: block; color: #6280be; height: 22px; line-height: 22px; padding-left: 15px; }

#c_content .l_c div:nth-child(2) { width: 982px; }

#c_content .l_c div:nth-child(2) h4 { height: 30px; line-height: 30px; margin-top: 10px; padding-left: 10px; font-size: 12px; font-weight: normal; }

#c_content .l_c div:nth-child(2) h4 a { color: #295ad0; }

#c_content .l_c div:nth-child(2) table { width: 100%; }

#c_content .l_c div:nth-child(2) tbody th { height: 28px; font-weight: normal; font-size: 12px; border-top: 2px solid #ccc; }

#c_content .l_c div:nth-child(2) tbody td { border-collapse: collapse; }

#c_content .l_c div:nth-child(2) tbody .p1 { padding: 10px; width: 40%; }

#c_content .l_c div:nth-child(2) tbody .p1 p { float: left; }

#c_content .l_c div:nth-child(2) tbody .p1 p a { display: block; width: 65px; height: 65px; border: 1px solid #cecece; }

#c_content .l_c div:nth-child(2) tbody .p1 p a img { width: 65px; height: 65px; }

#c_content .l_c div:nth-child(2) tbody .p1 h3 { float: left; width: 265px; font-size: 12px; font-weight: normal; padding-left: 20px; line-height: 37px; }

#c_content .l_c div:nth-child(2) tbody .p1 h3 a { display: block; margin-bottom: 5px; color: #333; text-decoration: none; }

#c_content .l_c div:nth-child(2) tbody .p2 { text-align: center; font-size: 12px; }

#c_content .l_c div:nth-child(2) tbody .p2 span { color: #797979; }

#c_content .l_c div:nth-child(2) tbody .p2 img { width: 12px; height: 12px; }

#c_content .l_c div:nth-child(2) tbody .p2 input { border: 1px solid #ccc; padding: 2px; font-size: 14px; color: #666; width: 30px; }

#c_content .l_c div:nth-child(2) tbody .p2 .price { color: #fe4e13; font-weight: bold; }

#c_content .l_c div:nth-child(2) tbody .p2 .deleat { color: #295ad0; padding: 1px 0 3px 20px; background: url(/img/c2.gif) no-repeat 0 -214px; position: relative; right: -10px; }

#c_content .l_c div:nth-child(2) .buy { text-align: right; width: 982px; overflow: hidden; border-top: 1px solid #c8c8c8; padding: 10px 0; }

#c_content .l_c div:nth-child(2) .buy p { width: 962px; margin-top: 8px; padding-right: 20px; color: #797979; font-size: 12px; }

#c_content .l_c div:nth-child(2) .buy p strong { color: #ff4d13; font-size: 16px; }

#c_content .l_c div:nth-child(2) .buy p a:nth-child(2) { width: 100px; border-radius: 5px; height: 30px; line-height: 30px; text-align: center; float: right; color: #2859cf; text-decoration: none; background: url(/img/c5.gif) no-repeat 5px -278px; }

#c_content .l_c div:nth-child(2) .buy p a:nth-child(1) { display: block; width: 142px; height: 30px; float: right; line-height: 30px; color: #fff; background-color: orange; font-weight: bold; text-align: center; text-decoration: none; }
